---
import MainLayout from "../layouts/MainLayout.astro";
import siteConfig from "../site.config";
---

<MainLayout
    activePage="disclaimer"
    pageTitle={siteConfig.title + " | Disclaimer"}
    seo={{
        description: "Disclaimer for " + siteConfig.title,
    }}
>
    <div class="page-content max-w-3xl mx-auto">
        <h1 class="text-3xl font-bold mb-6">Disclaimer</h1>
        <p class="mb-4">Last updated: {new Date().toLocaleDateString()}</p>

        <p class="mb-4">
            If you require any more information or have any questions about our
            site's disclaimer, please feel free to contact us by email at {
                siteConfig.contactInfo?.email?.email
            }.
        </p>

        <h2 class="text-2xl font-bold mt-8 mb-4">
            Disclaimers for {siteConfig.title}
        </h2>
        <p class="mb-4">
            All the information on this website - {siteConfig.website} - is published
            in good faith and for general information purpose only. {
                siteConfig.title
            } does not make any warranties about the completeness, reliability and
            accuracy of this information. Any action you take upon the information
            you find on this website ({siteConfig.title}), is strictly at your
            own risk. {siteConfig.title}
            will not be liable for any losses and/or damages in connection with the
            use of our website.
        </p>

        <p class="mb-4">
            From our website, you can visit other websites by following
            hyperlinks to such external sites. While we strive to provide only
            quality links to useful and ethical websites, we have no control
            over the content and nature of these sites. These links to other
            websites do not imply a recommendation for all the content found on
            these sites. Site owners and content may change without notice and
            may occur before we have the opportunity to remove a link which may
            have gone 'bad'.
        </p>

        <p class="mb-4">
            Please be also aware that when you leave our website, other sites
            may have different privacy policies and terms which are beyond our
            control. Please be sure to check the Privacy Policies of these sites
            as well as their "Terms of Service" before engaging in any business
            or uploading any information.
        </p>

        <h2 class="text-2xl font-bold mt-8 mb-4">Consent</h2>
        <p class="mb-4">
            By using our website, you hereby consent to our disclaimer and agree
            to its terms.
        </p>

        <h2 class="text-2xl font-bold mt-8 mb-4">Update</h2>
        <p class="mb-4">
            Should we update, amend or make any changes to this document, those
            changes will be prominently posted here.
        </p>
    </div>
</MainLayout>
